@font-face {
    font-family: SuperMario;
    src: url('../fonts/SuperMarioMaker.ttf');
}
@font-face {
    font-family: SuperMarioExtended;
    src: url('../fonts/SuperMarioMakerExtended.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: SuperMario;
}
img{
    cursor: pointer;
}
.hero{
    width: 100%;
    height: 100vh;
    max-width: 1600px;
    background-image: url('../assets/backgroundHome.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.hero__buttons{
    display: none;
}
.hero__logo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
    animation: logo ease-in 2s infinite alternate;
}
.hero__icon{
    position: absolute;
    top: -15px;
    left: 260px;
    width: 70px;
}
/* --- PET --- */
.hero__pet{
    width: 700px;
    height: 80%;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pet-mypet{
    width: 350px;
    height: 350px;
    object-fit: contain;
}
.pet-owner{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: .8rem;
    transition: transform .5s;
    cursor: pointer;
}
.pet-owner span{
    font-size: 1rem;
}
.pet-namepet{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    letter-spacing: 4px;
    cursor: pointer;
}
.pet-namepet::before{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    transition: width .3s;
}
.pet-namepet::after{
    content: '';
    position: absolute;
    top: -4px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    transition: width .3s;
}
.pet-namepet:hover::after,
.pet-namepet:hover::before
{
    width: 100%;
}

.pet-owner:hover{
    transform: translateX(30px);
}
/* --- DATA PET --- */
.hero__information{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: relative;
}
.information-form{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.information-title{
    font-size: 1rem;
    text-align: center;
    margin: 2rem 0 0;
    transition: transform .5s;
    cursor: pointer;
    letter-spacing: 4px;
}
.information-title:hover{
    transform: translateY(-10px);
}
.information-data{
    width: 100%;
}
.data-title{
    font-size: .8rem;
    margin-left: .8rem;
    letter-spacing: 3px;
}
.data-container{
    width: 100%;
    margin: .7rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.data-percentage{
    font-size: 1.5rem;
    margin-left: 1.5rem;
    text-align: center;
    width: 70px;
}
.data-icon{
    width: 20px;
    object-fit: cover;
    margin-left: 1.3rem;
    transition: transform .3s;
}
.data-icon:hover{
    transform: scale(1.2);
}
.data-bar{
    width: 120px;
    object-fit: cover;
    margin-right: 1rem;
    transition: transform .3s;
}
.data-bar:hover{
    transform: scale(1.1);
}
.submit-button{
    margin: 0 0 2rem;
    border: none;
    background-color: #000;
    color: #fff;
    font-family: inherit;
    padding: .9rem 2.5rem;
    border-radius: 3px;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #000;
    transition: background-color .5s, color .5s;
}
.submit-button:hover{
    background-color: #fff;
    color: #000;
}
.data-button{
    position: absolute;
    right: 15px;
    font-family: inherit;
    font-size: .7rem;
    border: none;
    padding: .8rem 1.3rem;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition:  background-color .3s, color .3s;
    border: 1px solid;
}
.data-button:hover{
    background-color: #000;
    color: #fff;
}
@media screen and (max-width: 700px) {
    .hero{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .hero__pet{
        width: 300px;
        height: 300px;
    }
    .pet-mypet{
        width: 200px;
        height: 200px;
    }
    .hero__information{
        width: 300px;
        height: max-content;
    }
    .submit-button{
        margin-bottom: 2.5rem;
    }
    .information-form{
        gap: 1.5rem;
    }
    .information-title{
        font-size: 1.6rem;
    }
}

/* --- ANIMATIONS --- */
@keyframes logo{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}