@font-face {
    font-family: SuperMario;
    src: url('../fonts/SuperMarioMaker.ttf');
}
@font-face {
    font-family: SuperMarioExtended;
    src: url('../fonts/SuperMarioMakerExtended.ttf');
}
:root{
    --lighter-color: #e0e0e7;
    --light-color: #b0b0c0;

    --font-smaller: 14px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,::after,::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 14px;
    font-family: SuperMario;
    background-image: url('../assets/backgroundLogin_phone.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
h1, h2, h3{
    font-weight: 700;
    margin: 0 0 0.5rem;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2em;
}
.form-box{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
/* PROGRESS */
.progress .form-box{
    position: relative;
    padding: 1em;
}
.logo{
    font-size: 1.75rem;
    color: #000;
    padding: 40px 48px;
    text-align: center;
    animation: title ease-in 2s infinite alternate;
}
.logo span{
    color: #fff;
}
/* 
    PROGRESS STEPS
*/
.progress ul.progress-steps{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.progress ul.progress-steps li{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
}
.progress ul.progress-steps li > span{
    position: relative;
    width: 40px;
    height: 40px;
    font-size: var(--font-smaller);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    border-radius: 50%;
    background-color: var(--lighter-color);
    z-index: 1;
}
.progress ul.progress-steps li.active > span{
    color: #fff;
    background-color: #000;
    z-index: 1;
}
.progress ul.progress-steps li p span{
    font-size: 12px;
    color: #fff;
    display: none;
}
.progress ul li p{
    position: absolute;
    top: -2em;
    font-size: 12px;
}
/* 
    FORM
*/
.form-box form{
    width: 100%;
    padding: 3em 1em;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
}
form > div{
    max-width: 400px;
    margin: 0 auto;
}
form > div p{
    color: var(--light-color);
    margin-bottom: 2em;
}
form > div > div:not(.checkbox){
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
form :where(input, select){
    height: 40px;
    padding: 0 1em;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    background-color: transparent;
    font-family: inherit;
}
form label{
    font-size: var(--font-smaller);
    margin-bottom: 0.5em;
}
form .grouping{
    display: flex;
}
form .grouping input{
    max-width: 70px;
    text-align: center;
    margin-right: 1em;
}
form .checkbox input{
    height: auto;
}
form > div:not(.btn-group){
    display: none;
    -webkit-animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.btn-prev,
.btn-next,
.btn-submit{
    font-family: inherit;
}
form > div.active {
    display: block;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes title{
    0%{
        transform: translate(0, 3px);
    }
    100%{
        transform: translate(0, -3px);
    }
}
.visionButton{
    position: absolute;
    right: 0;
    top: 145px;
    cursor: pointer;
}
/* 
    BUTTON
*/
.btn-group{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 2em;
}
.btn-group [class*="btn-"]{
    background-color: #000;
    color: #fff;
    padding: 1em 2.5em;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color .5s, color .5s ease-out;
    transition: background-color .5s, color .5s ease-out, border .5s ease-out;
    border: 1px solid transparent;
}
.btn-group [class*="btn-"]:disabled{
    background-color: var(--light-color);
    border-color: var(--lighter-color);
    cursor: text;
}
.btn-group [class*="btn-"]:hover:not(:disabled){
    background-color: #fff;
    color: #000;
    border: 1px solid;
}
.btn-group .btn-submit,
.form-three.active ~ .btn-group .btn-next{
    display: none;
}
.form-three.active ~ .btn-group .btn-submit{
    display: block;
}
.form-three.active ~ .btn-group{
    justify-content: space-between;
}
::placeholder{
    color: var(--light-color);
}
.btn-submit{
    visibility: hidden;
}
#view__pokemon{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#view__pokemon .pokemon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#view__pokemon .pokemon-container span{
    margin-top: .5rem;
}
.pokemon-img{
    width: 100px;
}
.hero__ctaBack{
    position: fixed;
    display: inline-block;
    bottom: 20px;
    left: 10px;
    color: #e6e3e3;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    transition: transform .3s;
}
.cta__icon{
    margin-right: .3rem;
    object-fit: cover;
}
.hero__ctaBack:hover{
    transform: translateX(-10px);
}
@media screen and (min-width: 768px){
    body{
        background-image: url('../assets/backgroundLoginDesktop.png');
    }
    .form-box{
        flex-direction: row;
    }
    .form-box .progress{
        flex: 1 0 35%;
        min-width: 300px;
        padding: 3em;
    }
    .logo{
        margin: -48px -48px 48px;
    }
    .progress ul.progress-steps{
        flex-direction: column;
        gap: 0;
    }
    .progress ul.progress-steps li:not(:last-child)::before{
        content: '';
        position: absolute;
        left: 20px;
        top: 30px;
        width: 2px;
        height: 65px;
        background-color: var(--lighter-color);
    }
    .form-box form{
        padding: 3em;
        border-radius: 0 15px 15px 0;
    }
    .progress ul li p{
        position: relative;
        top: auto;
        font-size: inherit;
    }
    .progress ul.progress-steps li p span{
        display: block;
    }
}
/* 
    ### ALERTS
*/
.toast{
    position: fixed;
    top: 20px;
    right: 0;
    width: 350px;
    height: 60px;
    background-color: #FFBABA;
    border-radius: 3px;
    border-left: 10px solid #D8000C;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 10%);
    transform: translateX(calc(100% + 50px));
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.upside{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upside span{
    font-size: 25px;
    letter-spacing: 2px;
    color: #D8000C;
}
.squad{
    width: 35px;
    height: 35px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.squad-error{
    width: 100%;
}
.closed{
    background-color: #D8000C;
    height: 100%;
    padding: 0 .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 3px 3px 0;
}
.close-icon{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.toastTwo{
    position: fixed;
    top: 20px;
    right: 0;
    width: 350px;
    height: 60px;
    background-color: #DFF2BF;
    border-radius: 3px;
    border-left: 10px solid #4F8A10;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 10%);
    transform: translateX(calc(100% + 50px));
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.upsideTwo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upsideTwo span{
    font-size: 25px;
    letter-spacing: 2px;
    color: #4F8A10;
}
.squadTwo{
    width: 35px;
    height: 35px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.squad-errorTwo{
    width: 100%;
}
.closedTwo{
    background-color: #4F8A10;
    height: 100%;
    padding: 0 .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 3px 3px 0;
}
.close-iconTwo{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.showing{
    transform: translateX(-100px);
}